<% layout ('layout') %>

<div class="container">
	<div class="text-right">
	    <a class="btn btn-sm btn-success border-white" href="/">Go Home</a>
	</div>
	<ul class="bigger_text">
		<li>Question 1</li>
		<ul>
			<li>Answer 1</li>
			<li>Answer 2</li>
			<li>Answer 3</li>
		</ul>
	</ul>
</div>