<% layout ('layout') %>

<div class="container">
	<div class="text-right">
	    <a class="btn btn-sm btn-success border-white" href="/">Go Home</a>
	</div>
	<div class="text-right">
	    <a href="/logout" class="btn btn-sm btn-success border-white">LogOut</a>
	</div>
	

	<ul class="bigger_text">
		<li>Question 1</li>
		<li>Question 2</li>
		<li>Question 3</li>
		<li>Question 4</li>
		<li>Question 5</li>
		<li>Question 6</li>
		<li>Question 7</li>
		<li>Question 8</li>
		<li>Question 9</li>
		<li>Question 10</li>
		<li>Question 11</li>
	</ul>
</div>