@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('/badaboom_bb/BADABB__.ttf'); /*URL to font*/
}

a.navbar-brand {
    font-family: 'YourFontName', 'Arial';
}

.container {

}

#brand {
	font-size: 2em;
}